.header {
  margin: auto;
  display: flex;
  align-self: center;
  flex-direction: column;
  width: 880px;
  margin-top: 45px;
  border-bottom: 1px solid;
  border-color: rgba(84, 84, 84, 0.7);
}

@media screen and (max-width: 900px) {
  .header {
    width: 100%;
    margin-left: 0px;
  }
}

@media screen and (max-width: 320px) {
  .header {
    width: 320px;
    margin-top: 28px;
  }
}
